<footer>
    <br><br>
    <div id="menu" align="left">
        <a href="#topo"><img src="../img/MoveTop.png" width="41" height="43" title="Mover para o topo"alt="Mover para o topo"></a> |
        <a href="https://www.facebook.com/ifsppirituba"><img src="../img/facebook.png" width="41" height="43"title="IFSP Facebook" alt="IFSP Facebook"></a>
    </div>
    <p>
        IFSP - Câmpus Pirituba - Av. Mutinga, 951 - Jardim Santo Elias - CEP: 05110-000 - São Paulo/SP - Contato: (011) 2504-0100
    </p>
</footer>