
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/menu.css">

<div id="menu" align="right">
    <ul>
        <li><a target="_top" href="../index.html">HOME</a></li>
        <li><a target="_top" href="../eventos.html">EVENTOS</a></li>
        <li><a target="_top" href="../contato.html">CONTATO</a></li>
        <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">CURSOS</a>
            <div class="dropdown-content">
              <a href="../ads.html" target="_top">Análise e Desenvolvimento de Sistemas</a>
              <a href="#" target="_top">Engenharia de Produção</a>
            </div>
          </li>
        <li><a target="_top" href="../entrar.html">ENTRAR</a></li>
        <li id="about"><a target="_top" href="../sobre.html">SOBRE</a></li>
    </ul>
</div>

<div id="capa">
    <img src="../img/Logo.jpg" alt="Logo do IFSP">
</div>

